<div class="container">
  <div class="header-actions">
    <h1>Produits</h1>
    <button (click)="router.navigate(['/products/add'])">+ Ajouter un produit</button>
  </div>

  <div class="filters">
    <select [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">
      <option value="">Toutes les catégories</option>
      @for (cat of categories.slice(1); track cat) {
        <option [value]="cat">{{ cat }}</option>
      }
    </select>

    <select [(ngModel)]="selectedBrand" (ngModelChange)="onBrandChange()">
      <option value="">Toutes les marques</option>
      @for (brand of brands.slice(1); track brand) {
        <option [value]="brand">{{ brand }}</option>
      }
    </select>
  </div>
  
<div class="products-grid">

  @for (product of products; track product.id) {

    <div class="product-card">

      <div class="card-header">
        <h3>{{ product.name }}</h3>
        <span class="stock" [class.low-stock]="product.stock <= 2">
          {{ product.stock }} en stock
        </span>
      </div>

      <div class="card-body">

        <div class="info">
          <span>🏷️ Marque</span>
          <strong>{{ product.brand }}</strong>
        </div>

        <div class="info">
          <span>📦 Catégorie</span>
          <strong>{{ product.category }}</strong>
        </div>

        <div class="info">
          <span>👟 Taille</span>
          <strong>{{ product.size }}</strong>
        </div>

        <div class="info">
          <span>💰 Prix</span>
          <strong>{{ product.price }} €</strong>
        </div>

      </div>

      <div class="card-actions">

        <button
          class="edit"
          (click)="router.navigate(['/products/edit', product.id])">

          Modifier

        </button>

        <button
          class="delete"
          (click)="deleteProduct(product.id!)">

          Supprimer

        </button>

      </div>

    </div>

  }

</div>